.form-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  margin-top: 25px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 18px;
}

.form-group {
  margin: 20px;
}

#name, #description, #price, #image, #endereco {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

#name:focus, #description:focus, #price:focus, #image:focus, #endereco:focus {
  border: none;
  border-bottom: 1px solid black;
}

.invalid-feedback {
  color: red;
  font-weight: bold;
}